.contactContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #f6f7fa;
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/hero.jpg) ;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1, .herotexto{   
    text-align: center;
    margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 4000px){
.location{
    width: 50%;
}

.contactForm{
    width: 50%;
}
}

@media (max-width: 767px){
    .contactContainer{
        flex-direction: column;
    }

    .location{
        width: 100%;
    }

    .contactForm{
        width: 100%;
    }
}

.location{
    padding: 2rem;
    border: 1px solid black;
}

.herotextos{
    color: white;
}

.hero h1{
    color: white;
}

.location h3{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    padding-bottom: 10px;
}

.location p{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    padding-top: 10px;
}

.location span{
    font-size: 20px;
    font-weight: 10px;
    font-family: 'Nunito Sans', sans-serif;
}

.mapaInfo{
    padding-top: 30px;
}

.contactForm h3{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    padding-bottom: 20px;
}

.contactForm label{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    padding-bottom: 10px;
    display: block;
    padding-top: 20px;
}

.contactForm input{
    border: 1px solid black;
    height: 40px;
    width: 100%;
    border-radius: 5px;
}

textarea{
    border: 1px solid black;
    height: 40px;
    width: 100%;
    border-radius: 5px;
}

.contactForm input, textarea {
    padding-left: 10px;
}

.contactForm textarea{
    padding-top: 7px;
}


.contactForm{
    padding: 2rem;
    border: 1px solid black;
}

.buttons{
    display: flex;
    justify-content: space-around;
    padding-top:30px ;
}

.buttons button{
    height: 40px;
    width: 90px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
}

.buttons button:hover{
    transform: scale(1.2);

}

