body{
    background-color: #f6f7fa;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
max-width: 1200px;
padding: 15px;
}



.newArrivals{
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    color: rgb(70, 69, 69);
}



@media (min-width: 768px) and (max-width: 4000px){
  .newArrivals::before {
    left: 21%;
    transform: translateX(-50%);
  }
  
  .newArrivals::after {
  right: 21%;
  transform: translateX(50%);
  }
}

@media (max-width:768px){
  .newArrivals::before {
    left: 12%;
    transform: translateX(-50%);
  }
  
  .newArrivals::after {
  right: 12%;
  transform: translateX(50%);
  }
}


.newArrivals::before,
.newArrivals::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 3px;
  border-radius: 5px;
  background-color: rgb(175, 175, 175);
}




.inputsxd{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}






