
.pagination button{
    outline: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    border-radius: 3px;
    height: 45px;
    width: 105px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.432);
}

.pagination{
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
  border: none;
}